robotframework==7.0
robotframework-seleniumlibrary==6.2.0
robotframework-imaplibrary2==0.4.6
urllib3==2.1.0
requests==2.31.0
jsonpath-ng==1.5.3
jsonschema==4.17.0
pytz==2022.6
# robotframework-database library==1.4.3
robotframework-jsonlibrary==0.5
robotframework-requests==0.9.6
pymssql==2.2.7
selenium==4.16.0
# robotframework-autoitlibrary==1.2.8
robotframework-excelutil==9.12
webdrivermanager
pip